---
title:  Grid
layout: page
---
<style>
    code {
        background:#eee;
        border-radius:3px;
        padding:0 .2em;
        display:inline-block;
    }
    li {
        line-height:2;
    }

    table {
        margin:2em 0;
    }

    td{
        padding:2em;
        border:1px solid #ccc;
    }
    
    .dates td {
        padding:1em;
    }

    [aria-selected="true"]{
        background:blue;
        color:#fff;
        }
    [aria-current]{
        border-width:3px;
        border-color:red;
    }

    [aria-disabled="true"] {
        color:#ccc;
        background:#f7f7f7;
    }
</style>
<code>aria-selected</code> is #5 with white text on blue background.  <code>aria-current</code> is #4 with red border. <code>aria-hidden</code> is #9 with grey background.

<h2>Standards compliant</h2>
<p>ARIA 1.3 will prohibit names on generic and a few other elements</p>

<table role="grid" aria-labelledby="caption">
    <caption id="caption">Months</caption>
    <tbody>
        <tr>
            <td tabindex="0" aria-label="January"><span>1</span></td>
            <td tabindex="0" title="February"><span>2</span></td>
            <td tabindex="0"><span title="March">3</span></td>
        </tr>
        <tr>
            <td tabindex="0" aria-label="April" aria-current="date"><span>4</span></td>
            <td tabindex="0" aria-label="May" aria-selected="true"><span>5</span></td>
            <td tabindex="0" aria-label="June" aria-disabled="true"><span">6</span></td>
        </tr>
        <tr>
            <td tabindex="0" aria-label="July"><span aria-label="available">7</span></td>
            <td tabindex="0" aria-label="August" role="gridcell"><span>8</span></td>
            <td tabindex="0" aria-disabled="true" aria-label="September"><span title="Nineth month" >9</span></td>
        </tr>
    </tbody>
</table>

<h2>Variations</h2>

<table role="grid" aria-labelledby="caption">
    <caption id="caption">Months</caption>
    <tbody>
        <tr>
            <td tabindex="0" aria-label="January" aria-describedby="dateInfoDefault">1</td>
            <td tabindex="0" aria-label="February" aria-describedby="dateInfoSelected"><span aria-hidden="true">2</span></td>
            <td tabindex="0"><span title="March">3</span></td>
        </tr>
        <tr>
            <td tabindex="0" aria-current="date"><span aria-label="April">4</span></td>
            <td tabindex="0" aria-selected="true"><span aria-label="May">5</span></td>
            <td tabindex="0" aria-label="June"><span">6</span></td>
        </tr>
        <tr>
            <td tabindex="0" aria-label="July"><span aria-label="available">7</span></td>
            <td tabindex="0" role="gridcell" aria-label="August"><span aria-label="unavailable">8</span></td>
            <td tabindex="0" aria-disabled="true" ><span aria-label="September">9</span></td>
        </tr>
    </tbody>
</table>
    <p>Legend:</p>
    <p id="dateInfoDefault">Available</p>
    <p id="dateInfoUnavailable">Unavailable</p>
    <p id="dateInfoSelected">Selected</p>
    
<h2>Gridcell description</h2>
<ol>
    <li>Use <code>aria-label</code> on <code>&lt;td&gt;</code>.  Result: Too verbose [Month] + [Month #].  Want to announce plain english label, but not the month number.</li>
    <li>Use <code>aria-label</code> on <code>&lt;td&gt;</code> and <code>&lt;span aria-hidden="true"&gt;</code>.  Result: unwanted, [month] + "blank" is announced</li>
    <li>Use <code>title</code> on <code>span</code>.  Result: announces as desired, [month].</li>
    <li>Use aria-current on <code>&lt;td&gt;</code> and <code>aria-label</code> on <code>span</code>. Result: as expected, [monbth] + "current date"</li>
    <li>Use aria-selected on <code>&lt;td&gt;</code> and <code>aria-label</code> on <code>span</code>. Result: not as expected, [month] only.  Expected to hear "selected"  (IS THIS ASSUMPTION CORRECT?  Should aria-selected by announced on a gridcell?)</li>
    <li>Use <code>aria-label</code> on <code>&lt;td&gt;</code> and plain <code>span</code>.  Result: [month] available</li>
    <li>Use <code>aria-label</code> on <code>&lt;td&gt;</code> and <code>aria-label</code> for availabilty on <code>span</code></li>
    <li>Use <code>aria-label</code> on <code>&lt;td role="gridcell"&gt;</code> and <code>aria-label</code> for availabilty on <code>span</code></li>
    <li>Use <code>aria-disabled="true"</code> on <code>&lt;td&gt;</code> and <code>aria-label</code> on <code>span</code></li>
</ol>

<h2>Questions</h2>
<ol>
    <li>Should user hear <code>aria-selected="true"</code> on a gridcell (or anywhere else)?  <a href="https://www.w3.org/TR/wai-aria-1.1/#aria-selected">WAI-ARIA 1.1 aria-selected (state)</a></li>
    <li>What does <code>aria-current="date"</code> mean when used on a set of dates: the stored date value or today's date.  For example, consider a) Date of Birth, where dates are all in the past. b) a future date picker where user wants to change a seletion c) a multiselect date picker</li>
</ol>

<h2>Date grid example</h2>
<p>Example to review aria-selected and aria-current with AT/UA combos on mobile and desktop. Example is static only; not functional.</p>
<table role="grid" aria-labelledby="datesCaption" class="dates">
    <caption id="datesCaption">Dates</caption>
    <thead>
        <th scope="col" abbr="Sunday">Sun</th>
          <th scope="col" abbr="Monday">Mon</th>
          <th scope="col" abbr="Tuesday">Tue</th>
          <th scope="col" abbr="Wednesday">Wed</th>
          <th scope="col" abbr="Thursday">Thu</th>
          <th scope="col" abbr="Friday">Fri</th>
          <th scope="col" abbr="Saturday">Sat</th>
    </thead>
    <tbody>
        <tr>
          <td class="disabled" tabindex="-1" aria-disabled="true" aria-label="This date is unavailable"><span>26</span></td>
          <td class="disabled" tabindex="-1" aria-disabled="true" aria-label="This date is unavailable"><span>27</span></td>
          <td class="disabled" tabindex="-1" aria-disabled="true" aria-label="This date is unavailable"><span>28</span></td>
          <td class="disabled" tabindex="-1" aria-disabled="true" aria-label="This date is unavailable"><span>29</span></td>
          <td class="disabled" tabindex="-1" aria-disabled="true" aria-label="This date is unavailable"><span>30</span></td>
          <td class="disabled" tabindex="0" aria-disabled="true" aria-label="This date is unavailable"><span>31</span></td>
          <td tabindex="0" data-date="2020-02-01" aria-label="Saturday, Feburary 2, 2020"><span>1</span></td>
        </tr>
        <tr>
          <td tabindex="0" data-date="2020-02-02" aria-label="Sunday, Feburary 2, 2020"><span>2</span></td>
          <td tabindex="0" data-date="2020-02-03" aria-label="Today Monday, Feburary 3, 2020"><span>3</span></td>
          <td tabindex="0" data-date="2020-02-04" aria-label="Tuesday, Feburary 4, 2020"><span>4</span></td>
          <td tabindex="0" aria-selected="true" data-date="2020-02-05" aria-label="Wednesday, Feburary 5, 2020, selected"><span>5</span></td>
          <td tabindex="0" data-date="2020-02-06" aria-label="Thursday, Feburary 6, 2020"><span>6</span></td>
          <td tabindex="0" data-date="2020-02-07" aria-label="Friday, Feburary 7, 2020"><span>7</span></td>
          <td tabindex="0" data-date="2020-02-08" aria-label="Saturday, Feburary 8, 2020"><span>8</span></td>
        </tr>
        <tr>
          <td tabindex="-1" data-date="2020-02-09" aria-label="Sunday, Feburary 9, 2020"><span>9</span></td>
          <td tabindex="-1" data-date="2020-02-10" aria-label="Monday, Feburary 10, 2020"><span>10</span></td>
          <td tabindex="-1" data-date="2020-02-11" aria-label="Tuesday, Feburary 11, 2020"><span>11</span></td>
          <td tabindex="-1" data-date="2020-02-12" aria-label="Wednesday, Feburary 12, 2020"><span>12</span></td>
          <td tabindex="-1" data-date="2020-02-13" aria-label="Thursday, Feburary 13, 2020"><span>13</span></td>
          <td tabindex="-1" data-date="2020-02-14" aria-label="Friday, Feburary 14, 2020"><span>14</span></td>
          <td tabindex="-1" data-date="2020-02-15" aria-label="Saturday, Feburary 15, 2020"><span>15</span></td>
        </tr>
        <tr>
          <td tabindex="-1" data-date="2020-02-16">16</td>
          <td tabindex="-1" data-date="2020-02-17">17</td>
          <td tabindex="-1" data-date="2020-02-18">18</td>
          <td tabindex="-1" data-date="2020-02-19">19</td>
          <td tabindex="-1" data-date="2020-02-20">20</td>
          <td tabindex="-1" data-date="2020-02-21">21</td>
          <td tabindex="-1" data-date="2020-02-22">22</td>
        </tr>
        <tr>
          <td tabindex="-1" data-date="2020-02-23">23</td>
          <td tabindex="-1" data-date="2020-02-24">24</td>
          <td tabindex="-1" data-date="2020-02-25">25</td>
          <td tabindex="-1" data-date="2020-02-26">26</td>
          <td tabindex="-1" data-date="2020-02-27">27</td>
          <td tabindex="-1" data-date="2020-02-28">28</td>
          <td tabindex="-1" data-date="2020-02-29">29</td>
        </tr>
        <tr>
          <td tabindex="-1" data-date="2020-02-30">30</td>
          <td tabindex="-1" data-date="2020-02-31">31</td>
          <td class="disabled" tabindex="-1"></td>
          <td class="disabled" tabindex="-1"></td>
          <td class="disabled" tabindex="-1"></td>
          <td class="disabled" tabindex="-1"></td>
          <td class="disabled" tabindex="-1"></td>
        </tr>
      </tbody>
</table>
