---
title: Toggle Switch
layout: page
---

            <script>
                function togglePress (e) {
                    if (e.ariaDisabled){
                        alert(e.title);
                        return false;
                    }
                    if (e.ariaPressed=="false") {
                        e.setAttribute("aria-pressed", "true");
                        e.innerHTML = "On";
                        e.value = "On";
                    } else {
                        e.setAttribute("aria-pressed", "false");
                        e.innerHTML="Off";
                        e.value="Off";
                    }
                }

                function toggleSwitch (e) {
                    if (e.ariaChecked=="false") {
                    e.setAttribute("aria-checked", "true");
                    e.innerHTML = "On";
                    e.value = "On";
                    } else {
                        e.setAttribute("aria-checked", "false");
                        e.innerHTML="Off";
                        e.value="Off";
                    }
                }
                </script>
            <!-- presentation -->
            <style>
                .lightswitch {
                    width: 6em;
                    padding: .5em;
                }
                button[aria-pressed="true"]{
                    font-weight:bold;

                }
                
                button[aria-pressed="true"]:before {
                    content: "☼";
                    padding-right:.25em;
                }
                button[aria-pressed="false"]{
                    font-weight:bold;
                    padding-left:1.5em;
                }

                #library:after {
                    content: "Off";
                    padding-left:1.5em;
                }
                #library:checked:after {
                    content: "On";
                }
                [aria-disabled="true"], [disabled] {
                   color:#aaa;
                    border:#aaa 1px solid;
                    background:#f8f8f8;
                    border-radius: 3px;
                }
            </style>
            <h2>Toggle</h2>
            <p>3 States {on, off, mixed} AND disabled</p>
            <p class="sample">
                <span id="listLabel">Livingroom lights:</span>
                <button id="livingroom" class="lightswitch" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off" aria-labelledby="listLabel livingroom">Off</button>
            </p>
            <p>VoiceOver narration: Livingroom lights off toggle button. [toggle on] Livingroom lights on.   [toggle off] Livingroom lights off.</p>
            <p class="sample">
                <span>Livingroom lights:</span>
                <button id="livingroom" disabled class="lightswitch" type="button"  aria-pressed="false" value="Off" aria-labelledby="listLabel livingroom">Off</button>
                <span> (disabled)</span>
            </p>
            <p class="sample">
                <span>Livingroom lights:</span>
                <button id="livingroom" aria-disabled="true" class="lightswitch" onclick="togglePress(this)" type="button"  aria-pressed="false" value="Off" aria-labelledby="listLabel livingroom" title="This feature is not available in the demo version.">Off</button>
                <span> (aria-disabled + title and error handling example)</span>
            </p>
            <p>VoiceOver (aria-disabled) narration: Livingroom lights off dimmed toggle button. This feature is not available in the demo version.</p>
            
  
            <h2>Switch</h2>
            <p>2 states (on,off) AND disabled</p>
            <p class="sample">
                <span id="listLabel2">Bathroom lights:</span>
                <button role="switch" id="bathroom" class="lightswitch" type="button" onclick="toggleSwitch(this)" aria-checked="false" value="Off" aria-labelledby="listLabel2">Off</button>
            </p>
            <p>VoiceOver narration:   Bathroom lights off switch.  [Switch on] On bathroom lights switch.  [Switch off] Off bathroom lights switch.</p>
            
  
            <h2>Checkbox switch</h2>
            <p class="sample">
                <label for="library">Library lights</label> <input id="library" type="checkbox"">
            </p>        
            <p>VoiceOver narration:  Library lights unchecked checkbox. [check box] Checked library lights checkbox.  [uncheck box] Unchecked library lights</p>

