<h2>Patterns</h2>
<ul>
  {% assign pagesByTitle = site.pages | sort: "title" %}
  {% for page in pagesByTitle %}
  <li>
    <a href="{{site.baseurl}}{{ page.url}}">{{page.title}}</a>
  </li>
  {% endfor %}
</ul>
