---
title: Cards, static
layout: page
---
    <style>
        @media (min-width: 680px){

            h3, p, ul.collection, li {
                /* clear default styles */
                margin:0;
                padding:0;
            }
            
            .collection {
                display:flex;
                flex-wrap: wrap;
            }
            .card {
                width:100%;
                display:block;
                margin:1rem;
                border:1px solid #ccc;
                border-radius:4px;
                position: relative;
                background:#fff;
            }
            .card .headline {
                font-size:1.25rem;
                font-weight:bold;
            }
            .headline, .description, .more {
                display:block;
                padding:.5rem 1rem;
            }

            .layered {
                margin-bottom:-2.75rem;
            }

            .layered~.more { 
                display:inline-block;
                z-index:1;
                position:relative;
            }
            
            .card.interactive .headline {
                text-decoration:none;
                color:#000 !important;
            }
            .card.interactive .block {
                position:absolute;
                /*width:calc(100% - 2rem);
                height:calc(100% - 1rem);*/
                left:0;
                top:0;
                bottom:0;
                right:0;
            }
            
            .card.interactive .layered::before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }


            .card.interactive .description {
                margin-top:2.75rem;

            }

            .card.interactive .more {
                color:blue;
                text-decoration:underline;
            }

    /*      .card.interactive a:focus, .card.interactive a:hover {*/
            .card.interactive .block:focus, .card.interactive .block:hover {
                margin:-2px;
                border:2px royalblue solid;
                border-radius:6px;
                box-shadow: .25rem .25rem .75rem #bbb;
            }

            .card.interactive .layered:focus::before, .card.interactive .layered:hover::before {
                margin:-2px;
                border:2px royalblue solid;
                border-radius:6px;
                box-shadow: .25rem .25rem .75rem #bbb;
            }

            .card.interactive a:hover ~ .more {
                text-decoration:none;
            }
        }


        @media (min-width: 800px){
            .card {
                width:calc(33% - 2rem);
            }
        }
        
    </style>

        <h2>1. As paragraphs</h2>
        <div class="collection">
            <p class="card">
                <span class="headline">Milk Chocolate</span>
                <span class="description">Basic text only card. (1.1)</span>
            </p>
            <p class="card">
                <span class="headline">Milk Chocolate Ginger</span>
                <span class="description">Basic card with 'more' link. (1.2)</span>
                <a class="more" href="#" onclick="alert('Visit target page');return false;" aria-label="Learn more about Milk Chocolate Ginger">Learn more...</a>
            </p>
            <p class="card">
                <a class="headline" href="#" onclick="alert('Visit target page');return false;">Milk Chocolate Caramel</a>
                <span class="description">Basic card with linked headline. (1.3)</span>
            </p>
            <p class="card interactive">
                <a class="headline block" href="#" onclick="alert('Visit target page');return false;">Milk Chocolate Orange</a>
                <span class="description">Clickable card style with linked headline. (1.4)</span>
            </p>
            <p class="card interactive">
                <a class="headline block" href="#" onclick="alert('Visit target page');return false;">Milk Chocolate Almonds</a>
                <span class="description">Clickable card style with linked headline and a silent, fake 'more' link.  (1.5)</span>
                <span class="more" aria-hidden="true">Learn more...</span>
            </p>
            <p class="card interactive">
                <a class="headline layered" href="#A" onclick="alert('Visit target page');return false;">Milk Chocolate Toffee</a>
                <span class="description">Clickable card style with linked headline and layered second link. (1.6)</span>
                <a class="more" href="#B" onclick="alert('Visit Bulk Discounts page');return false;">Bulk discounts</a>
            </p>
        </div>
        <h2>2. As articles</h2>
        <div class="collection">
            <article class="card">
                <h3 class="headline">55% Chocolate</h3>
                <p class="description">Basic text only card. (2.1)</p>
            </article>
            <article class="card">
                <h3 class="headline">55% Chocolate Ginger</h3>
                <p class="description">Basic card with 'more' link. (2.2)</p>
                <a class="more" href="#" onclick="alert('Visit target page');return false;" aria-label="Learn more about 55% Chocolate Ginger">Learn more...</a>
            </article>
            <article class="card">
                <h3><a class="headline" href="#" onclick="alert('Visit target page');return false;">55% Chocolate Caramel</a></h3>
                <p class="description">Basic card with linked headline. (2.3)</p>
            </article>
            <article class="card interactive">
                <a class="headline block" href="#" onclick="alert('Visit target page');return false;"><h3>55% Chocolate Orange</h3></a>
                <span class="description">Clickable card style with linked headline. (2.4)</span>
            </article>
            <article class="card interactive">
                <h3><a class="headline block" href="#" onclick="alert('Visit target page');return false;">55% Chocolate Almonds</a></h3>
                <p class="description">Clickable card style with linked headline and a silent, fake 'more' link. (2.5)</p>
                <span class="more" aria-hidden="true">Learn more...</span>
            </article>
            <article class="card interactive">
                <h3><a class="headline layered" href="#A" onclick="alert('Visit target page');return false;">55% Chocolate Toffee</a></h3>
                <p class="description">Clickable card style with linked headline and layered second link. (2.6)</p>
                <a class="more" href="#B" onclick="alert('Visit Bulk Discounts page');return false;">Bulk discounts</a>
            </article>
        </div>
        <h2>3. As sections</h2>
        <div class="collection">
            <section class="card">
                <h3 class="headline">77% Chocolate</h3>
                <p class="description">Basic text only card. (3.1)</p>
            </section>
            <section class="card">
                <h3 class="headline">77% Chocolate Ginger</h3>
                <p class="description">Basic card with 'more' link. (3.2)</p>
                <a class="more" href="#" onclick="alert('Visit target page');return false;" aria-label="Learn more about 77% Chocolate Ginger">Learn more...</a>
            </section>
            <section class="card">
                <h3><a class="headline" href="#" onclick="alert('Visit target page');return false;">77% Chocolate Caramel</a></h3>
                <p class="description">Basic card with linked headline. (3.3)</p>
            </section>
            <section class="card interactive">
                <a class="headline block" href="#" onclick="alert('Visit target page');return false;"><h3>77% Chocolate Orange</h3></a>
                <span class="description">Clickable card style with linked headline. (3.4)</span>
            </section>
            <section class="card interactive">
                <h3><a class="headline block" href="#" onclick="alert('Visit target page');return false;">77% Chocolate Almonds</a></h3>
                <p class="description">Clickable card style with linked headline and a silent, fake 'more' link. (3.5)</p>
                <span class="more" aria-hidden="true">Learn more...</span>
            </section>
            <section class="card interactive">
                <h3><a class="headline layered" href="#A" onclick="alert('Visit target page');return false;">77% Chocolate Toffee</a></h3>
                <p class="description">Clickable card style with linked headline and layered second link. (3.6)</p>
                <a class="more" href="#B" onclick="alert('Visit Bulk Discounts page');return false;">Bulk discounts</a>
            </section>
        </div>
        <h2>4. As list items</h2>
        <ul class="collection">
            <li class="card">
                <p class="headline">88% Chocolate</p>
                <p class="description">Basic text only card. (4.1)</p>
            </li>
            <li class="card">
                <p class="headline">88% Chocolate Ginger</p>
                <p class="description">Basic card with 'more' link. (4.2)</p>
                <a class="more" href="#" onclick="alert('Visit target page');return false;" aria-label="Learn more about 88% Chocolate Ginger">Learn more...</a>
            </li>
            <li class="card">
                <p><a class="headline" href="#" onclick="alert('Visit target page');return false;">88% Chocolate Caramel</a></p>
                <p class="description">Basic card with linked headline. (4.3)</p>
            </li>
            <li class="card interactive">
                <a class="headline block" href="#" onclick="alert('Visit target page');return false;">88% Chocolate Orange</a>
                <span class="description">Clickable card style with linked headline. (4.4)</span>
            </li>
            <li class="card interactive">
                <p><a class="headline block" href="#" onclick="alert('Visit target page');return false;">88% Chocolate Almonds</a></p>
                <p class="description">Clickable card style with linked headline and a silent, fake 'more' link. (4.4)</p>
                <span class="more" aria-hidden="true">Learn more...</span>
            </li>
            <li class="card interactive">
                <p><a class="headline layered" href="#A" onclick="alert('Visit target page');return false;">88% Chocolate Toffee</a></p>
                <p class="description">Clickable card style with linked headline and layered second link. (4.6)</p>
                <a class="more" href="#B" onclick="alert('Visit Bulk Discounts page');return false;">Bulk discounts</a>
            </li>
        </ul>

        <h2>References</h2>
        <p>https://adrianroselli.com/2020/02/block-links-cards-clickable-regions-etc.html</p>
        <p>https://css-tricks.com/block-links-are-a-pain-and-maybe-just-a-bad-idea/</p>
        <p>Layered links https://www.sarasoueidan.com/blog/nested-links/ </p>
