---
title: SVG vanilla
layout: page
---

<!-- local styles --> 
<style>
    body {
        font-family:sans-serif;
        line-height:1.5;
    }

    code {
        background:#eee;
        border-radius:3px;
        padding:0 .2em;
        display:inline-block;
    }
     
    .paymentDetails {display: none}
    input:checked ~ .paymentDetails {display: block}


    svg {max-width:15rem;}

    path {
        stroke:#959595;
    }
    path[aria-current], path[aria-selected] {
        stroke:#cc0000;
    }
    path:focus {
        stroke:#000;
        z-index:1000;
    }

    .chart-title span {display:block}

</style>


<!-- content -->
<button>First page control</button>
<p>SVG with paths in a gropu.  svg and paths arelabelled and described. No custom roles.</p>
<div class="svg-container">
    <svg viewBox="-120 -120 240 240" aria-labelledby="thisDocTitle" aria-describedby="thisDocDesc" style="transform: rotate(-90deg);">
        <title id="thisDocTitle">Annual Budget ring graph</title>
        <desc id="thisDocDesc">Actual annual expenses by expense category.</desc>
        <g>
        <path
            aria-current="true"
            id="mortgage-1"
            d="M 99.62703764929412,8.628636579792337 A 100 100 0 0 1 -51.5785898285047 85.67175188650499 A 100 100 0 0 0 99.62703764929412 8.628636579792337  Z"
            tabindex="0"
            class="ring-segment data-blue mortgage-0"
            aria-labelledby="ring-segment-0-title"
            aria-describedby="ring-segment-0-desc"
            fill-opacity="0"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-0-title">Mortgage</title>
            <desc id="ring-segment-0-desc">$1,345.01</desc>
        </path>
        <path
            id="groceries-1"
            d="M -65.54001709117938,75.52818122851838 A 100 100 0 0 1 -93.81913359224843 -34.61170570774922 A 100 100 0 0 0 -65.54001709117938 75.52818122851838  Z"
            tabindex="0"
            class="ring-segment data-orange groceries-1"
            aria-labelledby="ring-segment-1-title"
            aria-describedby="ring-segment-1-desc"
            fill-opacity="1"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-1-title">Groceries</title>
            <desc id="ring-segment-1-desc">$200.02</desc>
        </path>
        <path
            id="retailshopping-12"
            d="M -86.47134405201555,-50.226553314337174 A 100 100 0 0 1 -2.3559764833611534 -99.97224302180005 A 100 100 0 0 0 -86.47134405201555 -50.226553314337174  Z"
            tabindex="0"
            class="ring-segment data-green retailshopping-2"
            aria-labelledby="ring-segment-2-title"
            aria-describedby="ring-segment-2-desc"  
            fill-opacity="-1"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-2-title">Retail Shopping</title>
            <desc id="ring-segment-2-desc">$3.03</desc>
        </path>
        <path
            id="restaurants-13"
            d="M 14.867243389692153,-98.88864987445048 A 100 100 0 0 1 56.85618507342628 -82.26405180208606 A 100 100 0 0 0 14.867243389692153 -98.88864987445048  Z"
            tabindex="0"
            class="ring-segment data-red restaurants-3"
            aria-labelledby="ring-segment-3-title"
            aria-describedby="ring-segment-3-desc"
            fill-opacity="0"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-3-title">Restaurants</title>
            <desc id="ring-segment-3-desc">$104.04</desc>
        </path>
        <path
            id="utilities-14"
            d="M 70.15314257708546,-71.26385189252065 A 100 100 0 0 1 89.45446398380244 -44.697862067112254 A 100 100 0 0 0 70.15314257708546 -71.26385189252065  Z"
            tabindex="0"
            class="ring-segment data-sapphire utilities-4"
            aria-labelledby="ring-segment-4-title"
            aria-describedby="ring-segment-4-desc"
            fill-opacity="0"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-4-title">Utilities</title>
            <desc id="ring-segment-4-desc">$55.05</desc>
        </path>
        <path
            id="automotive-15"
            d="M 95.80728994623186,-28.652455272779992 A 100 100 0 0 1 99.62703764929411 -8.628636579792534 A 100 100 0 0 0 95.80728994623186 -28.652455272779992  Z"
            tabindex="0"
            class="ring-segment data-magenta automotive-5"
            aria-labelledby="ring-segment-5-title"
            aria-describedby="ring-segment-5-desc"
            fill-opacity="0"
            fill="none"
            stroke-width="13"
            stroke-linejoin="round"
            stroke-linecap="round"
        >
            <title id="ring-segment-5-title">Automotive</title>
            <desc id="ring-segment-5-desc">$16.06</desc>
        </path>
    </g>
    </svg>
    <p id="myTabPanel" class="chart-title centered">Heading<span>A very long line for value so I can test</span>Subheading</p>
</div>
