body {
  font-family: sans-serif;
  line-height:1.4;
  padding:0;
  margin:0;
}
body > main, body > footer, body > header {
  margin:0;
  padding:0 2em;
}
body > header {
  color:#fff;
  background:#000;
  margin:0;
  padding:.25em 2em;
}
main {
  /*max-width:48em;*/
}
h1 {
  font-size:2.25em;
}
li {
  margin:.75em 0
}
code {
  background:#efefef;
  padding:2px .5em;
  display:inline-block;
  border-radius:4px;
}
blockquote {
  border-left: 4px solid #ccc;
  margin-left:0em;
  padding:.1em .75em;
  background:#eee;
}

/*main {display:flex;}*/
main > nav {padding-top:1.5em;}
main > nav ul {margin:0;padding:0;list-style:none}
main > nav a {margin-right:.5em;white-space:nowrap}
/* TODO position menu for sliding over content */
main > article {}

h1 {margin-top:.75em;}
.card {
  margin:1em 0;
}
.card * {
  margin:0;
  padding:0;
  line-height:1.6;
}
.card h2 {
  font-size:1.25rem;
}
.card .published {
  color:#666;
}
body > footer {
  margin-top:5em;
}
body > footer  a {
  margin-right:.5em;
}


/* Trial pattern styles */
.sample, input, button,legend, label, select, textarea {
  font-size: 1em;
  font-family: courier;
}

.sample {
  background:#f7f7f7;
  background:none;
  padding:1em 1.5em;
  box-shadow:0 0 6px #bbb;
}
fieldset {
  border:dashed #000 1px;
  padding:1em;
}
button {
  padding:.25em .5em;
  background:#fff;
  border:1px solid #333;
}
button:active {
  box-shadow: #333 0px 0px 3px;
  background:#eee;
  color:#333;
}
