---
title: Cards, clickable
layout: page
---

        <style>
            .card {
                max-width:20em;
                border:1px solid #ccc;
                border-radius:8px;
                padding:1rem;
                margin:1rem;
                position:relative;
            }

            a {
                font-weight:bold;
                font-size:1.25rem;
            }
 
            .card.clickable a {
                position:absolute;
                /*width:calc(100% - 2rem);
                height:calc(100% - 1rem);*/
                left:0;
                top:0;
                bottom:0;
                right:0;
            }

            .clickable a {
                padding:1rem;
                border-radius:8px;
            }

            .card.clickable a:hover {
                box-shadow: 0 0 8px #aaa;
            }

            .card.clickable a:active {
                box-shadow: 0 0 10px #666;
            }


            .clickable {
                padding-top:3rem;
            }

            .linksign a {
                text-decoration:none;
                color:#000 !important;
            }

            .fauxlink {
                display:block;
                /*color:blue;*/
                text-decoration:none;
                margin:1rem 0;
            }

            .fauxlink:after {
                content: " >";
            }

            .linksign:hover .fauxlink {
                text-decoration:underline;
            }
            a:link ~ .fauxlink {
                color:blue;
            }
            
            a:visited ~ .fauxlink {
                color:rgb(85, 26, 139);
            }
            
            .linksign:active .fauxlink, .linksign:active a {
                color:red !important;
            }
            details {
                margin:1rem 1rem 3rem 1rem;
            }
            details div {
                margin-left:1rem;
            }

            quote {
                font-style: italic;
            }
            
        </style>
        </style>

            <p>Each card contains a link and description.  Card 3 includes a decorative "Learn more" arrow as additional affordance</p>
            <p>All examples are announced the same: "Link Personal savings. Descriptive text provides an summary of the subject named in the link and gives additional reasons for the reader to visit the linked content."</p>
            <h2>Plain old simple HTML</h2>

            <div class="card">
                <a href="#">1. Personal savings</a>
                <p>Descriptive text provides an summary of the subject named in the link and gives additional reasons for the reader to visit the linked content.</p>
            </div>
            <details>
                <summary>Review</summary>
                <div>
                    <h3>Features</h3>
                    <ul>
                        <li>link  (large font)</li>
                        <li>desciptive paragraph</li>
                        <li>a generic container with a border, margin, and padding</li>
                    </ul>
                    <h3>Pros</h3>
                    <ul>
                        <li>Simple markup</li>
                        <li>Link text is short and references the title of the target page &ndash; following guideline of Shield, SEO, Plainglanguage.gov, WCAG, Deque.</li>
                    </ul>
                    <h3>Cons</h3>
                    <ul>
                        <li>It 'looks' boring.</li>
                        <li>There is evidence that larger click areas have higher click-through rates.</li>
                    </ul>
                </div>
            </details>
            


            <h2>Clickable Card &mdash; basic</h2>
            <div class="card clickable">
                <a href="#">2. Personal savings</a>
                <p>Descriptive text provides an summary of the subject named in the link and gives additional reasons for the reader to visit the linked content.</p>
            </div>
            <details>
                <summary>Review</summary>
                <div>
                    <h3>Features</h3>
                    <ul>
                        <li>Markup. same as plain old simple HTML</li>
                        <li>Additional CSS.  link area is styled to fill the card such that user has a larger click target. The link is below the description and since the description has no click event itself any click activates the link.</li>
                        <li>Contents spacing is changed to look like the plain old simple HTML.</li>
                    </ul>
                    <h3>Pros</h3>
                    <ul>
                        <li>Lager click area</li>
                        <li>Visual link states are same as native link.</li>
                        <li>Focus state outlines the card; because link area fills the card</li>
                    </ul>
                    <h3>Cons</h3>
                    <ul>
                        <li>It 'looks' boring, like plain old simple HTML.</li>  
                        <li>Selecting the description text requires non-standard work arounds</li>
                    </ul>
                </div>
            </details>


            <h2>Clickable Card &mdash; with styled 'Learn more' sign</h2>
            <div class="card clickable linksign">
                <a href="#">3. Personal savings</a>
                <p>Descriptive text provides an summary of the subject named in the link and gives additional reasons for the reader to visit the linked content.</p>
                <span aria-hidden="true" class="fauxlink">Learn more</span>
            </div>
            <details>
                <summary>Review</summary>
                <div>
                    <h3>Features</h3>
                    <ul>
                        <li>Markup. same as #2, the basic clickable card</li>
                        <li>Removed native link styles</li>
                        <li>Add 'learn more' text as a visual affordance for link states. Style presentation to change with link states.  Content is redundant and so is hidden from screen reader users.</li>
                    </ul>
                    <h3>Pros</h3>
                    <ul>
                        <li>Modern, non-boring, feel</li>
                        <li>Has alternate link affordance that uses arrow and color.</li>
                    </ul>
                    <h3>Cons</h3>
                    <ul>
                        <li>"Learn more" can be confused for the link label. This creates potential issues for voice control; but voice control can navigate by numbered region (COP assumption that this is more used voice navigation method)</li>
                    </ul>
                </div>
            </details>

            <h2>Clickable Card &mdash; other affordance, arrow</h2>
            <div class="card clickable linksign arrow">
                <a href="#">4. Personal savings <span aria-hidden="true" style="padding-left:.5rem;">&gt;</span></a>
                <p>Descriptive text provides an summary of the subject named in the link and gives additional reasons for the reader to visit the linked content.</p>
            </div>
            <details>
                <summary>Review</summary>
                <div>
                    <h3>Features</h3>
                    <ul>
                        <li>Markup. same as #3, the basic clickable card</li>
                        <li>Uses arrow after link text as affordance instead of "Learn more >".</li>
                        <li>Illustrates alternate ways of distinguishing function (link affordances)</li>
                    </ul>
                    <h3>Pros</h3>
                    <ul>
                        <li>Modern, non-boring, feel</li>
                        <li>Uses an alternate link affordance.</li>
                    </ul>
                    <h3>Cons</h3>
                    <ul>
                        <li>Only one affordance to distinguish link from plain text.</li>
                    </ul>
                </div>
            </details>
