<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/base.css">
  </head>
  <body>
    <header aria-label="Site">
      {% include identity.html %}
    </header>
    <main>
      {{content}}
      <nav aria-label="pattern">
        <details closed>
          <summary>Patterns</summary>
        <ul>
          {% assign pagesByTitle = site.pages | sort: "title" %}
          {% for page in pagesByTitle %}
          <li>
            <a href="{{site.baseurl}}{{ page.url}}">{{page.title}}</a>
          </li>
          {% endfor %}
        </ul>
        </details>
      </nav>
    </main>
    <footer aria-label="Disclosure">
      <p>&copy;{{site.publisher}}</p>
    </footer>
  </body>
</html>
