---
layout: default
---
  <article>
    <header>
      <h1>{{page.title}} pattern</h1>
      <p>Category: {{page.categories}}</p>
      <p>Tags: {{page.tags}}</p>
    </header>
    {{content}}
    <footer>
       Contribute <a href="mailto:dhamaker@lmi.net?subject={{page.title}} suggestion&body=Send suggestions, report errors, recommend references and examples.">{{page.title | downcase }} feedback</a>
    </footer>
  </article>
