---
title: textarea
layout: page
---

Example is a simple textarea element with an `aria-describedby`.  There are two instances: a New note and an Edit note.

<form action="#">
    <p>
        <label>First input <input type="text" value=""></label>
    </p>
        <p>
        <label for="ta0">New note</label><br>
        <textarea id="ta0" cols="60" rows="10" aria-describedby="ta0-hint"></textarea>
        <div id="ta0-hint">Just the facts.</div>
    </p>
    <p>
        <label for="ta1">Edit notes</label><br>
        <textarea id="ta1" cols="60" rows="10" aria-describedby="ta1-hint">This is a stored note.</textarea>
        <div id="ta1-hint">Just the gossip.</div>
    </p>
    <p>
        <label for="ta1">Edit notes</label><br>
        <textarea id="ta1" cols="60" rows="10" aria-describedby="ta1-hint" aria-disabled="true" aria-required="true" autocomplete="on" placeholder="your placeholder" title="your title">Text area contains all properties.</textarea>
        <div id="ta1-hint">Just the gossip.</div>
    </p>
    <button>Do nothing</button>
</form>

## Screen reader experiences

Expect the name, value, and description to be announced when textarea control receives focus.

 * JAWS reads the New note and description as expected.  But with the Edit note, JAWS does not read the description - or the value.
