<style>
  button[aria-pressed="true"]{
    font-weight:bold;
  }
</style>

<div class="sample">
  <form action="#" method="get">
    <fieldset>
    <legend>Filter</legend>
    <ul>
      <li>
        <button id="fruit" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Fruit</button>
      </li>
      <li>
        <button id="vegetables" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Vegetables</button>
      </li>
    </ul>
    </fieldset>
  </form>
</div>
