<!-- presentation -->
<style>
  button[aria-pressed="true"]{
    font-weight:bold;
  }
</style>

<!--  structure -->
<div class="sample">
  <p id="listLabel">Filter</p>
  <ul aria-labelledby="listLabel">
    <li>
      <button id="fruit1" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Fruit</button>
    </li>
    <li>
      <button id="vegetables2" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Vegetables</button>
    </li>
  </ul>
</div>

<!-- behavior -->
