<!-- description -->
<h3>Toggle w/ checkboxes</h3>
<p>Simple unadorned checkboxes</p>

<!--  structure -->

<div class="sample">
  <form id="checkboxToggle" action="#checkboxToggle">
    <fieldset>
      <legend>Filter</legend>
      <ul>
        <li>
          <label><input id="liquids" type="checkbox">Liquids</label>
        </li>
        <li>
          <label><input id="solids" type="checkbox">Solids</label>
        </li>
      </ul>
    </fieldset>
  </form>
</div>

<!-- behavior -->
