
<!-- description -->
<h3>Rename w/  aria-label</h3>
<p>Javascript toggle the aria-label values. The aria label switches between [name]+"unselected" and [name]+"selected". The selected visual style is bold using CSS selector.</p>

<!-- presentation  -->
<style>
  button[aria-label~=" selected"]{
    font-weight:bold;
  }
</style>

<!-- structure -->
<div class="sample">
  <form id="ariaLabel" action="">
    <ul>
      <li>
        <button id="food" class="show-hide__button" type="button" onclick="togglePressLabel(this)" aria-label="Food unselected">Food</button>
      </li>
      <li>
        <button id="travel" class="show-hide__button" type="button" onclick="togglePressLabel(this)" aria-label="Travel unselected">Travel</button>
      </li>
    </ul>
  </form>

  <!-- behavior -->
  <script>
      function togglePressLabel (e) {
          var lbl = e.textContent;
          var state=e.getAttribute("aria-label");
          state = state.split(" ");
          if (state[1]=="unselected") {
              name = " selected";
              //state = "true";
          } else {
              name = " unselected";
              //state = "false";
          }
          e.setAttribute("aria-label", lbl+name)
      }
  </script>
</div>
