<!-- presentation -->
<style>
  button[aria-pressed="true"]{
    font-weight:bold;
  }
</style>

<!--  structure -->
<h3>Toggle button group by fieldset</h3>
<p>Javascript toggles the aria-pressed between true and false.   Pressed state is shown visually as old text using [aria-pressed="true"].</p>

<div class="sample">
  <form id="groupByFieldset" action="">
    <fieldset>
      <legend>Filter</legend>
      <button id="fruit0" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Red</button>
      <button id="vegetables0" class="show-hide__button" type="button" onclick="togglePress(this)" aria-pressed="false" value="Off">Yellow</button>
    </fieldset>
  </form>
</div>

<!-- behavior -->
